<<<<<<< HEAD
body.dark{

    //background-color: #0f172a;
    color: aliceblue;
    background: linear-gradient(#0E131F, purple);
    
    }
    h1 h2 h3 {
        color: #38405F;
    }
=======
body.dark {
  background-color: #0f0f0f;
  color: #fff;
  h2,
  h3 {
    color: #fff;
  }
  a {
    color: #fff;
  }
}
>>>>>>> 4fda60056066f7e0f8d02cf7f4fb1b096129fbd5
